*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
my-upload-key.jks
gradle-9.3.1-bin.zip
keystore-base64.txt
node_modules
package-lock.json
hs_err_pid*.log
replay_pid*.log
*.log
.agents/
.claude/
.vscode/
